* {
    margin: 0px;
    padding: 0px;
}
.MainDiv {
    width: 100%;

    /* background-color: #F2F3F6; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 320px);
    padding-left: 300px;
}
.routes {
    margin-top: 140px;
    width: 100%;
}