.dashboardHeader {
    padding-left: 280px;
    /* position: absolute; */
    background-color: #F9FAFC;
    height: 120px;
    width: calc(100% - 280px);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.dashboardHeaderLeft {
    margin-left: 20px;
    display: flex;
}
.dashboardHeaderRight {
    margin-right: 20px;
    display: flex;
    align-items: center;
    
}
.dashboardHeaderRight p {
    margin-left: 10px;
}
.dashboardHeaderProfilePic {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 20px;
}